<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon class="icon-only" name="person-circle-outline"></ion-icon> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input clearInput [(ngModel)]='nome' disabled=true></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Cognome</ion-label>
          <ion-input clearInput [(ngModel)]='cognome'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type='tel' clearInput [(ngModel)]='cellulare' disabled=true></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input clearInput [(ngModel)]='email' type='email'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Data'>
          <ion-label position="floating">Data di Nascita</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" [max]='today' [(ngModel)]='data_nascita'></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-label position="floating">Fidelity Card</ion-label>
          <ion-input clearInput [(ngModel)]='fidelity'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size='2'>
        <ion-button (click)="scanBarcode()">
          <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-button (click)="updateUser()" expand="block">Aggiorna</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
