ion-icon{
    font-size: 16pt;
}

ion-text.data{
    font-size: 13pt;
    font-weight: bold;
}

ion-text.ora{
    font-size: 10pt;
}

ion-text.ragsoc{
    font-size: 10pt;
    width: 70vw;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-text.title{
    font-size: 10pt;
    width: 90vw;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-text.nota{
    font-size: 8pt;
    width: 90vw;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-center
{
    display: block;
    width: auto;
    height: 10pt;
    max-width: 50vw;
}

#new
{
    font-size:3vh;
    border-radius:30px;
}
#new ion-icon{
    font-size: 5vh;
}

.footer_element_icon,.footer_element_text{
    color:#505050
}
.footer_element_icon
{
    font-size:25pt;
}

.footer_element_text
{
    font-size:9pt;
}

ion-footer ion-item.selected
{
    --ion-background-color: #808080;
    background: #808080; 
}

ion-footer ion-item.selected .footer_element_icon,ion-footer ion-item.selected .footer_element_text
{
    color:white
}

.grid-notifica, .grid-notifica ion-col
{
    padding: 0px;
}