<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Notifiche</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-item-group *ngFor="let date of getElencoDate()">
    <ion-item-divider>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col >
            <ion-icon color="tertiary" name="calendar"></ion-icon>          
          </ion-col>
          <ion-col size=10>
            <ion-text class='data'>
              {{getDataString(date)}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>
      <ion-item lines="none" *ngFor="let item of getNotifiche(date)" (click)="showNotifica(item)">
        <ion-grid class="grid-notifica">
          <ion-row class="ion-align-items-center">
            <ion-col size=10>
              <ion-grid>
                <ion-row>
                  <ion-col size=3>
                    <img [src]="getIcon(item)" *ngIf="checkIcon(item)" class="img-center" >
                  </ion-col>
                  <ion-col size=6>
                    <ion-text class="ragsoc">{{getRagSoc(item)}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item['TITOLO']!= undefined && item['TITOLO']!=''">
                  <ion-col>
                    <ion-text class="title text-wrap">{{item['TITOLO']}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item['MESSAGGIO']!= undefined && item['MESSAGGIO']!=''">
                  <ion-col>
                    <ion-text class="nota text-wrap">{{item['MESSAGGIO']}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size=2>
              <ion-icon name="ellipse" color="danger" *ngIf="(item['STATUS'] != undefined && item['STATUS'] == 0)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="userInfo" [negozio-info]="userInfo" [selected-item-index]=2></app-footer-menu>
</ion-footer>

