<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Gestione Appuntamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id='main'>
  <ion-item lines="none">
      <img [src]="getImageUrl(marchioInfo)" *ngIf="marchioInfo['IMG'] != undefined && marchioInfo['IMG'] != ''" class="img-center" >
      <ion-text *ngIf="!(marchioInfo['IMG'] != undefined && marchioInfo['IMG'] != '')">{{marchioInfo['DESCRIZIONE']}}</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Negozio</ion-label>
    <ion-text>{{negozioInfo['RAGIONE_SOCIALE']}}</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Data Selezionata</ion-label>
    <ion-text>{{getDataString(appuntamentoInfo['DATA_STR'])}}</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Ora selezionata</ion-label>
    <ion-text>{{appuntamentoInfo['ORA_STR']}}</ion-text>
  </ion-item>
  <ion-item lines="none" >
    <ion-label>Tipo Appuntamento</ion-label>
    <ion-text class="custom-width">{{tipoAppuntamento['DESCRIZIONE']}}</ion-text>
  </ion-item>
  <ion-item lines="none" >
    <ion-label position="fixed" >Note</ion-label>
    <ion-textarea [(ngModel)]="note" 	auto-grow=true maxlength=500 placeholder="Inserisci nota..."></ion-textarea>
  </ion-item>
  <ion-item lines="none" (click)="gestisciArticoli()" *ngIf="bEnableGestioneArticoli">
    <ion-icon name="list-circle-outline" slot="start"></ion-icon>
    <ion-text>{{getTestoGestioneArticoli()}}</ion-text>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="update()" expand="block">
            Invia
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="clear()" expand="block">
            <ion-icon slot="start" name="trash"></ion-icon>
            Cancella
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <hr>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
