<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class='title' color="primary">Cambio Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id='myContent'>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='oldPassword'>
          <ion-label position="floating">Vecchia Password</ion-label>
          <ion-input type="password" [(ngModel)]='old_password' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='newPassword'>
          <ion-label position="floating">Nuova Password</ion-label>
          <ion-input type="password" [(ngModel)]='new_password' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='confermaPassword'>
          <ion-label position="floating">Conferma Password</ion-label>
          <ion-input type="password" [(ngModel)]='conferma_password' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='5'>
        <ion-button (click)="changePassword()" expand="block">Conferma</ion-button>
      </ion-col>
      <ion-col size='5'>
        <ion-button (click)="cancel()" expand="block" fill="clear">Annulla</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
