<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Informazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <img class='img-center' src='../../../assets/images/screen.png'>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10' class="ion-text-center">
        <ion-item lines="none" class="ion-text-center"><ion-label>Versione</ion-label></ion-item>
        <ion-item lines="none" class="ion-text-center"><ion-label>{{versione}}</ion-label></ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item (click)="getTermini()">
            <ion-label>Termini di utilizzo</ion-label>
          </ion-item>
          <ion-item (click)="getPrivacyPolicy()">
            <ion-label>Privacy</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

