<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Tipologia Appuntamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id='main'>
  <ion-list>
    <ion-card button *ngFor="let item of arTipiAppuntamento" (click)="selectTipoAppuntamento(item)" class="text-center" width="100%">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col *ngIf="item['ICON'] != undefined && item['ICON'] != ''">
            <img [src]="getImageUrl(item)"  class="img-center" >
          </ion-col>
          <ion-col *ngIf="item['ICON'] == undefined || item['ICON'] == ''">
            <ion-icon name="information-circle-outline"></ion-icon>          
          </ion-col>
          <ion-col size=10>
            <ion-text >
              {{item['DESCRIZIONE']}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
