.full
{
    background-color: red;
    color:white;
}

ion-icon{
    font-size: 3vh;
}
ion-text{
    font-size: 3vh;
}

.img-center
{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 4vh;
}