.img-center{
    display: block;
    margin: auto 0; // Make the photo center align
    width: 100vw;    // Adjust the width according to height
    height: auto;   // Height = 50% of screen
}
ion-grid
{
    height: 100vh;
    display: flex;
    align-items: center;
}