<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Seleziona Marchio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-list>
    <ion-card button *ngFor="let item of arMarchi" (click)="selectNegozio(item)" class="text-center" width="100%">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col *ngIf="item['IMG'] != undefined && item['IMG'] != ''">
            <img [src]="getImageUrl(item)"  class="img-center" >
          </ion-col>
          <ion-col size=4 *ngIf="item['IMG'] == undefined || item['IMG'] == ''">
            <img src="../../assets/images/store-icon.svg"  class="img-center" >
          </ion-col>
          <ion-col class="ion-text-right">
              <ion-label class="only-text">{{item['DESCRIZIONE']}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <img [src]="item['IMG']" *ngIf="item['IMG'] != undefined && item['IMG'] != ''" class="img-center" >
      <ion-item *ngIf="item['IMG'] == undefined || item['IMG'] == ''" lines="none">
        <ion-label class="only-text">{{item['DESCRIZIONE']}}</ion-label>
      </ion-item> -->
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo"></app-footer-menu>
</ion-footer>
