<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img class='img-center' src='../../../assets/images/store-icon.svg'>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-label class='title' color="primary">Verifica Registrazione</ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-text >Inserire il numero di 4 cifre ricevuto via SMS al termine della registrazione.</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-input type="tel" clearInput [(ngModel)]='validationNumber' minlength=4 maxlength=4></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='5'>
        <ion-button (click)="validate()" expand="block">Verifica</ion-button>
      </ion-col>
      <ion-col size='5'>
        <ion-button (click)="cancel()" expand="block" fill="clear">Annulla</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-button (click)="sendNewCode()" expand="block" fill="clear">Richiedi Nuovo Codice</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
