ion-icon{
    font-size: 18pt;
}

ion-text.data{
    font-size: 15pt;
    font-weight: bold;
}

ion-text.ora{
    font-size: 12pt;
}
ion-text.nota{
    font-size: 10pt;
    width: 35vw;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-center
{
    display: block;
    width: auto;
    height: 14pt;
    max-width: 50vw;
}

#new
{
    font-size:3vh;
    border-radius:30px;
}
#new ion-icon{
    font-size: 5vh;
}