<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Appuntamenti</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-card (click)="nuovoAppuntamento()" id="new">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="add-circle-outline" color="primary"></ion-icon>           
        </ion-col>
        <ion-col size=10>
          <ion-text>
            Nuovo Appuntamento
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item-group *ngFor="let date of getElencoDate()">
    <ion-item-divider>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col >
            <ion-icon color="tertiary" name="calendar"></ion-icon>          
          </ion-col>
          <ion-col size=10>
            <ion-text class='data'>
              {{getDataString(date)}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>
      <ion-item lines="none" *ngFor="let item of getAppuntamenti(date)" (click)="editAppuntamento(item)">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size=2>
              <ion-icon name="time-outline"></ion-icon>           
            </ion-col>
            <ion-col size=10>
              <ion-grid>
                <ion-row>
                  <ion-col size=3>
                    <ion-text class="ora">{{item['ORA_STR']}}</ion-text>
                  </ion-col>
                  <ion-col size=3>
                    <img [src]="getIcon(item)" *ngIf="checkIcon(item)" class="img-center" >
                  </ion-col>
                  <ion-col size=6>
                    <ion-text class="nota text-wrap">{{item['TIPOAP_DESCRIZIONE']}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item['NOTA']!= undefined && item['NOTA']!=''">
                  <ion-col>
                    <ion-text class="nota text-wrap">{{item['NOTA']}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <!-- <ion-grid class="main-grid">
    <ion-row class="ion-align-items-center">
      <ion-col class="container ion-text-center" size=4>
        <ion-item lines="none" class="selected">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="calendar-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Appuntamenti</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col class="container ion-text-center" size=4>
        <ion-item lines="none" (click)="goToNotifiche()">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="chatbubble-ellipses-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Notifiche</ion-text>            
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col class="container ion-text-center" size=4>
        <ion-item lines="none" (click)="goToPromo()">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="cash-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Promo</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <app-footer-menu [user-info]="userInfo" [selected-item-index]=1></app-footer-menu>
</ion-footer>
