.img-center{
    display: block;
    margin: auto; // Make the photo center align
    max-width: 100%;    // Adjust the width according to height
    max-height: 90%;   // Height = 50% of screen
    height:auto;
    width: auto;
}

ion-grid
{
    height: 100%;
    display: flex;
    align-items: center;
}

ion-slides {
    height: 70%;
  }

.swiper-slide {
display: block;
}

.spinner{
    display: block;
    height:10%;
    width: 100%;
}

.spinner img
{
    margin:auto;
    height:100%;
    width:auto;
}