<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Promozioni</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <div class="spinner" *ngIf="loading == true">
    <img class="spinner" src='../../../assets/images/spinner.svg'>
  </div>
  <ion-slides pager=true mode="ios" [options]="slideOptions" *ngFor="let marchio of getMarchi()">
    <ion-slide *ngFor="let item of getPromo(marchio)">
      <img class='img-center' [src]='getImageUrl(item)' (click)="enlargeImage(item)">
    </ion-slide>
  </ion-slides>
  <!-- <ion-grid>
    <ion-row>
      <ion-col >
        <img class='img-center' src='http://pcsweb.yamamay.com/Repository/Offerte/IMG-20200601-WA0002.jpg '>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"   [selected-item-index]=3></app-footer-menu>
</ion-footer>

