.footer_element_icon,.footer_element_text{
    color:#505050
}
.footer_element_icon
{
    font-size:25pt;
}

.footer_element_text
{
    font-size:9pt;
}

// .footer-menu ion-item.selected
// {
//     --ion-background-color: #808080;
//     background: #808080; 
// }

.footer-menu ion-item.selected .footer_element_icon,
.footer-menu ion-item.selected .footer_element_text
{
    color:#3888ff
}

.container, .container ion-col
{
    padding:0px
}

.num-notifiche
{
    position:absolute;
    top:0;
    right:0;
    color:white;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    height:13pt;
    width:13pt;
    font-size: 10pt;
    z-index: 999;
}

ion-item
{
    --inner-padding-end:0px;
    --padding-end:0px;
    --inner-padding-start:0px;
    --padding-start:0px;
}