<ion-item class="footer-menu ion-no-padding">
  <ion-grid class="main-grid">
    <ion-row class="ion-align-items-center">
      <ion-col class="container ion-text-center" size=3>
        <ion-item lines="none" (click)="goToAppuntamenti()" class="ion-no-padding" [ngClass]="(selectedItemIndex==1)?'selected':''">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="calendar-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Appuntamenti</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col class="container ion-text-center" size=3>
        <ion-item lines="none" (click)="goToNotifiche()" class="ion-no-padding" [ngClass]="(selectedItemIndex==2)?'selected':''">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="num-notifiche" *ngIf="NumNotifiche > 0">{{NumNotifiche}}</ion-text>
                <ion-icon class="footer_element_icon" name="chatbubble-ellipses-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Notifiche</ion-text>            
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col class="container ion-text-center" size=3>
        <ion-item lines="none" (click)="goToPromo()" class="ion-no-padding" [ngClass]="(selectedItemIndex==3)?'selected':''">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="cash-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Promo</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col class="container ion-text-center" size=3>
        <ion-item lines="none" (click)="goToCatalogo()" class="ion-no-padding" [ngClass]="(selectedItemIndex==4)?'selected':''">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-icon class="footer_element_icon" name="book-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <ion-text class="footer_element_text">Cataloghi</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
