.passed{
    background-color: grey;
    color:white;
}

ion-icon{
    font-size: 4vh;
}
ion-text.ora{
    font-size: 3vh;
}
ion-text.nota{
    font-size: 2vh;
    width: 50vw;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
