<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Seleziona Ora</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-list>
    <ion-card button *ngFor="let item of arOre" (click)="selectOra(item)" class="text-center" width="100%" [ngClass]="(item['PASSED']!=0)?'passed':''">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-icon name="time-outline"></ion-icon>           
          </ion-col>
          <ion-col size=8>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text class="ora">{{item['ORA_STR']}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item['NOTA']!= undefined && item['NOTA']!=''">
                <ion-col>
                  <ion-text class="nota">{{item['NOTA']}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col>
            <ion-icon name="close-circle" color="danger" *ngIf="item['STATUS'] == 2 && item['PASSED']==0"></ion-icon>           
            <ion-icon name="person-circle" color="success" *ngIf="item['STATUS'] == 1 && item['PASSED']==0"></ion-icon>           
            <ion-icon name="add-circle" *ngIf="item['STATUS'] == 0 && item['PASSED']==0"></ion-icon>           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
