<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img class='img-center' src='../../../assets/images/store-icon.svg'>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-label class='title' color="primary">Login</ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input clearInput [(ngModel)]='nome' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type='tel' clearInput [(ngModel)]='numero' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input clearInput [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='4'>
        <ion-button (click)="login()" expand="block">Accedi</ion-button>
      </ion-col>
      <ion-col size='4'>
        <ion-button (click)="registerNewUser()" expand="block" fill="clear">Registrati</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-button (click)="passwordRecovery()" expand="block" fill="clear">Password Dimenticata</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
