<ion-menu side="end" menuId="side" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-divider>
        <ion-label>
          Impostazioni
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="goToAcccountDetail()">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-text>Account</ion-text>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          Informazioni
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="goToInfo()">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-text>Informazioni</ion-text>
      </ion-item>
      <ion-item (click)="getHelpPage()">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-text>Aiuto</ion-text>
      </ion-item>
      <ion-item [href]="getMailAssistenza()" target="_blank">
        <ion-icon name="warning-outline" slot="start"></ion-icon>
        <ion-text>Segnala un problema</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
