ion-icon{
    font-size: 18pt;
}

.img-center
{
    display: block;
    width: auto;
    height: 14pt;
    max-width: 50vw;
}

#new
{
    font-size:3vh;
    border-radius:30px;
}
#new ion-icon{
    font-size: 5vh;
}

ion-text.barcode{
    font-size: 12pt;
}

ion-text.art_desc{
    font-size: 14pt;
}

ion-text.data{
    font-size: 12pt;
}

.img-articolo {
    display: block;
    max-width:100%;
    max-height:10vh;
    margin: auto;
    width: auto;
    height: auto;
}