<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Articoli Selezionati
      <br>
      <div class="data">{{getTipologia()}}</div>  
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <!-- <ion-item lines="none">
    <ion-text class="data">Procedere alla selezione degli articoli</ion-text>
  </ion-item> -->
  <ion-card (click)="nuovoArticolo()" id="new">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="add-circle-outline" color="primary"></ion-icon>           
        </ion-col>
        <ion-col size=10>
          <ion-text>
            Aggiungi Articolo
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item lines="none" color="primary">
    <ion-text>Articoli selezionati</ion-text>
  </ion-item>
  <ion-item-group *ngFor="let scontrino of getElencoScontrini()">
    <ion-item-divider>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col >
            <ion-icon name="barcode-outline"></ion-icon>          
          </ion-col>
          <ion-col size=10>
            <ion-text class='barcode'>
              Scontrino N°{{scontrino}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>
    <!-- <ion-item-sliding *ngFor="let item of getAppuntamenti(date)">       -->
      <ion-item lines="none" *ngFor="let item of getArticoli(scontrino)">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size=3>
              <!-- Immagine -->
              <img [src]="getImageUrl(item)" *ngIf="item['ARTICOLO_IMAGE'] != undefined && item['ARTICOLO_IMAGE'] != ''" class="img-articolo" (click)='presentModal(item)'>
              <img *ngIf="!(item['ARTICOLO_IMAGE'] != undefined && item['ARTICOLO_IMAGE'] != '')" src='../../../assets/images/no-image.png' class="img-articolo">
            </ion-col>
            <ion-col size=9>
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size=9>
                    <ion-text class="art_desc">{{item['ARTICOLO_DESC']}}</ion-text>
                  </ion-col>
                  <ion-col size=3>
                    <ion-button (click)="removeItem(item)" expand="block" fill="clear">
                      <ion-icon slot="icon-only" name="pencil"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-text class="data">Colore: </ion-text>
                    <ion-text class="data">{{item['COLORE_DESC']}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size=8>
                    <ion-text class="data">Taglia: </ion-text>
                    <ion-text class="data">{{item['TAGLIA_DESC_OLD']}}</ion-text>
                  </ion-col>
                  <ion-col size=4>
                    <ion-text class="data">Q.tà: </ion-text>
                    <ion-text class="data">{{item['QTA_NEW']}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="item['TAGLIA_DESC_NEW']!= undefined && item['TAGLIA_DESC_NEW']!=''">
                    <ion-text class="data">Nuova taglia: </ion-text>
                    <ion-text class="data">{{item['TAGLIA_DESC_NEW']}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
<!--   
      <ion-item-options side="end">
        <ion-item-option (click)="clear(item)">
          <ion-icon name="trash" size="large"></ion-icon> 
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->

  </ion-item-group>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
