<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Seleziona Negozio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar [(ngModel)]="city" placeholder="Inserisci città" 
    (search)="searchByKeyword($event)">
  </ion-searchbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-item *ngFor="let item of arNegozi" (click)="goToAppuntamenti(item)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ragsoc">{{item['RAGIONE_SOCIALE']}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="address">{{getFullAddress(item)}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-label>
      <h2 color="primary">{{item['RAGIONE_SOCIALE']}}</h2>
      <p>{{getFullAddress(item)}}</p>
    </ion-label> -->
  </ion-item>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo"></app-footer-menu>
</ion-footer>

