<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      Seleziona Scontrino
      <br>
      <div class="data">{{getTipologia()}}</div>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-card (click)="scanBarcode()" id="new">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="barcode-outline" color="primary"></ion-icon>           
        </ion-col>
        <ion-col size=10>
          <ion-text>
            Barcode Scontrino
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item lines="none" color="primary">
    <ion-text> Elenco Scontrini da Fidelity</ion-text>
  </ion-item>
  <ion-item *ngFor="let item of arScontrini" (click)="goToScontrino(item['BARCODE_SCONTRINO'])">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="barcode">Scontrino N°{{item['BARCODE_SCONTRINO']}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="data">Data Scontrino: </ion-text>
          <ion-text class="data">{{getData(item['DATA_SCONTRINO'])}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="data">Tot.Capi: </ion-text>
          <ion-text class="data">{{item['TOT_QTA']}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="data">Valore: </ion-text>
          <ion-text class="data">{{item['TOT_VALORE']}} €</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>

