<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Seleziona Giorno</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id='main'>
  <ion-list>
    <ion-card button *ngFor="let item of arGiorni" (click)="selectGiorno(item)" class="text-center" width="100%" [ngClass]="(item['APPUNTAMENTI']!=0)?'full':''">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col >
            <ion-icon name="calendar-outline"></ion-icon>          
          </ion-col>
          <ion-col size=10>
            <ion-text >
              {{getDataString(item["DATA_STR"])}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
