<ion-header>
  <ion-toolbar>
    <ion-title class='title' color="primary">Nuovo Utente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id='myContent'>
  <ion-grid>
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size='10' class="ion-text-center">
        <ion-label class='title' color="primary">Nuovo Utente</ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row><ion-col><ion-text>(I campi contrassegnati da * sono obbligatori)</ion-text></ion-col></ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Nome'>
          <ion-label position="floating">Nome *</ion-label>
          <ion-input [(ngModel)]='name' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Cognome'> 
          <ion-label position="floating">Cognome</ion-label>
          <ion-input [(ngModel)]='surname' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Data'>
          <ion-label position="floating">Data di Nascita</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" [(ngModel)]='data_nascita'></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Numero'>
          <ion-label position="floating">Telefono *</ion-label>
          <ion-input type='tel' [(ngModel)]='phone' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Email'>
          <ion-label position="floating">Email</ion-label>
          <ion-input type='email' [(ngModel)]='email' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Username'>
          <ion-label position="floating">Nome Utente</ion-label>
          <ion-input [(ngModel)]='username' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='Password'>
          <ion-label position="floating">Password *</ion-label>
          <ion-input [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id='ConfermaPassword'>
          <ion-label position="floating">Conferma Password *</ion-label>
          <ion-input [(ngModel)]='confermaPassword' type='password'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>  
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='10'>
        <ion-item id="GDPR" lines="none">
          <ion-label>Ho letto e accetto i <a (click)="getTermini()"><i>Termini di servizio</i></a> e <a (click)="getPrivacyPolicy()"><i>Informazioni sulla Privacy</i></a></ion-label>
          <ion-checkbox slot="start" [(ngModel)]="privacyIsChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='5'>
        <ion-button disabled="{{!privacyIsChecked}}" (click)="registerNewUser()" expand="block">Registra</ion-button>
      </ion-col>
      <ion-col size='5'>
        <ion-button (click)="cancel()" expand="block" fill="clear">Annulla</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
