.img-articolo {
    display: block;
    max-width:100%;
    max-height:20vh;
    margin: auto;
    width: auto;
    height: auto;
}

.img-logo{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 7vh;
}

ion-text.art_desc{
    font-size: 15pt;
}

ion-text.data{
    font-size: 10pt;
}

ion-text.data_2{
    font-size: 13pt;
}

ion-grid.det_art
{
    max-height: 99vh;
}

hr
{
    background: #eeeeee;
}