<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      Articolo Selezionato
      <br>
      <div class="data">{{getTipologia()}}</div>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id='main'>
  <!-- <ion-item lines="none">
      <img [src]="getImageUrlMarchio(marchioInfo)" *ngIf="marchioInfo['IMG'] != undefined && marchioInfo['IMG'] != ''" class="img-logo" >
      <ion-text *ngIf="!(marchioInfo['IMG'] != undefined && marchioInfo['IMG'] != '')">{{marchioInfo['DESCRIZIONE']}}</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Negozio</ion-label>
    <ion-text>{{negozioInfo['RAGIONE_SOCIALE']}}</ion-text>
  </ion-item> -->
  <ion-grid class="det_art">
    <ion-row>
      <ion-col size=4>
        <!-- Immagine -->
        <img [src]="getImageUrl(articoloInfo)" *ngIf="articoloInfo['ARTICOLO_IMAGE'] != undefined && articoloInfo['ARTICOLO_IMAGE'] != ''" class="img-articolo" (click)='presentModal(articoloInfo)'>
        <img *ngIf="!(articoloInfo['ARTICOLO_IMAGE'] != undefined && articoloInfo['ARTICOLO_IMAGE'] != '')" src='../../../assets/images/no-image.png' class="img-articolo">
      </ion-col>
      <ion-col size=8>
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- Descrizione -->
              <ion-text class="art_desc">{{articoloInfo['ARTICOLO_DESCRIZIONE']}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>           
              <!-- Colore -->
              <ion-text class="data">Colore: </ion-text>
              <ion-text class="data">{{articoloInfo['COLORE_DESCRIZIONE']}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="data">Taglia: </ion-text>
              <ion-text class="data">{{articoloInfo['TAGLIA_DESCRIZIONE']}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size=5 *ngIf="tipoAppuntamento == '4'">
        <ion-text class="data_2">Capi Resi</ion-text>
      </ion-col>
      <ion-col size=5 *ngIf="tipoAppuntamento == '5'">
        <ion-text class="data_2">Capi Selezionati</ion-text>
      </ion-col>
      <ion-col *ngIf="tipoAppuntamento == '4'" size=2>
        <ion-button (click)="removeItem()" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text class="data_2">{{qtaSelezionata}} <b><i>di {{qta}}</i></b></ion-text>
      </ion-col>
      <ion-col *ngIf="tipoAppuntamento == '4'" size=2>
        <ion-button (click)="addItem()" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="tipoAppuntamento == '5' && arTaglieValide.length == 0">
      <ion-col class="ion-text-center">
        <ion-text class="data">Non vi sono altre taglie disponibili in negozio</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="tipoAppuntamento == '5' && arTaglieValide.length > 0">
      <ion-col class="ion-text-center title">
        <ion-text class="art_desc">Taglie disponibili</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tipoAppuntamento == '5' && arTaglieValide.length > 0">
      <ion-col class="ion-text-center">
        <ion-text class="data">(articoli selezionati rispetto alla disponibilità)</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngFor="let item of arTaglieValide">
      <ion-col size=5>
        <ion-text class="data_2">Taglia: {{item['TAGLIA_DESCRIZIONE']}}</ion-text>
      </ion-col>
      <ion-col size=2>
        <ion-button (click)="removeItem(item)" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text class="data_2">{{item['QTA']}} <b><i>di {{item['QTA_DISPONIBILE']}}</i></b></ion-text>
      </ion-col>
      <ion-col size=2>
        <ion-button (click)="addItem(item)" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="update()" expand="block">
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            Conferma
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="clear()" expand="block">
            <ion-icon slot="start" name="close-outline"></ion-icon>
            Annulla
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <hr>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>
