.img-center
{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 7vh;
}

.only-text
{
    display: block;
    margin: 0 auto; // Make the photo center align
    width: auto;    // Adjust the width according to height
    white-space: normal;
    font-size:2vh;
}

ion-text.desc{
    font-size: 14pt;
}
ion-icon.cat{
    font-size: 3vh;
}