<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Cataloghi</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu [user-info]="userInfo"></app-side-menu>

<ion-content id="main">
  <ion-item-group *ngFor="let azienda of getElencoAziende()">
    <ion-item-divider>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col *ngIf="azienda['IMG'] != undefined && azienda['IMG'] != ''">
            <img [src]="getImageUrl(azienda)"  class="img-center" >
          </ion-col>
          <ion-col size=4 *ngIf="azienda['IMG'] == undefined || azienda['IMG'] == ''">
            <img src="../../assets/images/store-icon.svg"  class="img-center" >
          </ion-col>
          <ion-col class="ion-text-right" *ngIf="azienda['IMG'] == undefined || azienda['IMG'] == ''">
              <ion-label class="only-text">{{azienda['DESCRIZIONE']}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>
      <ion-card button *ngFor="let item of getCataloghi(azienda)"  (click)="goToURL(item)" class="text-center" width="100%">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-icon class="cat" name="book-outline"></ion-icon>          
            </ion-col>
            <ion-col size=10>
              <ion-text class="desc">{{item['CATALOGO_DESC']}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  </ion-item-group>
</ion-content>

<ion-footer>
  <app-footer-menu [user-info]="userInfo" [selected-item-index]=4></app-footer-menu>
</ion-footer>
