ion-text.art_desc{
    font-size: 15pt;
}

ion-text.data{
    font-size: 10pt;
}

.img-articolo {
    display: block;
    max-width:100%;
    max-height:15vh;
    margin: auto;
    width: auto;
    height: auto;
}