<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      Seleziona Articolo
      <br>
      <div class="data">{{getTipologia()}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">

  <ion-item *ngFor="let item of arArticoli" (click)="goToArticolo(item)">
    <ion-grid>
      <ion-row>
        <ion-col size=4>
          <img [src]="getImageUrl(item)" *ngIf="item['ARTICOLO_IMAGE'] != undefined && item['ARTICOLO_IMAGE'] != ''" class="img-articolo" (click)="showImage($event,item)">
          <img *ngIf="!(item['ARTICOLO_IMAGE'] != undefined && item['ARTICOLO_IMAGE'] != '')" src='../../../assets/images/no-image.png' class="img-articolo">
        </ion-col>
        <ion-col size=8>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text class="art_desc">{{item['ARTICOLO_DESCRIZIONE']}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="data">Colore: </ion-text>
                <ion-text class="data">{{item['COLORE_DESCRIZIONE']}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="data">Taglia: </ion-text>
                <ion-text class="data">{{item['TAGLIA_DESCRIZIONE']}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="data">Quantità:  </ion-text>
                <ion-text class="data">{{item['QTA']}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <app-footer-menu [user-info]="userInfo" [marchio-info]="marchioInfo" [negozio-info]="negozioInfo"></app-footer-menu>
</ion-footer>

