<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img class='img-center' src='../../../assets/images/store-icon.svg'>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='8'>
        <ion-label class='title' color="primary">Recupero Password</ion-label>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='8'>
        <ion-item id="nome">
          <ion-label position="floating">Nome</ion-label>
          <ion-input clearInput [(ngModel)]='username' ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='8'>
        <ion-item id="telefono">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input clearInput [(ngModel)]='phone' type='tel'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size='4'>
        <ion-button (click)="passwordRecovery()" expand="block">Invia</ion-button>
      </ion-col>
      <ion-col size='4'>
        <ion-button (click)="cancel()" expand="block" fill="clear">Annulla</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
