.img-center{
    display: block;
    margin: 0 auto; // Make the photo center align
    width: auto;    // Adjust the width according to height
    height: 25vh;   // Height = 50% of screen
}

.highlight ion-label
{
    color:red !important;
}

.title
{
    font-size: 3vh;
}